.signup-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh ;
}

.signup-form {
  width: 100vh;
  height: 100vh ;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-group label {
  width: 48%; /* Adjust as needed */
}

.input-field {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
  color: #fff;
}
